.camera-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5); /* Light dark overlay */
	z-index: 10; 
}
    
video {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Cover the whole area */
}
.camera-controls {
	position: absolute;
	bottom: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;
    }
    
.close-btn, .capture-btn {
	font-size: 24px;
	color: white;
	background: rgba(0, 0, 0, 0.8);
	border: none;
	padding: 10px 15px;
	border-radius: 50%;
	cursor: pointer;
}
    